<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>Compare</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<h1 class="tt-title-subpages noborder">COMPARING <span id="tt-compare-countitem">3</span> PRODUCTS</h1>
			<!--  -->
			<div class="tt-compare-table02" id="tt-compare-table02">
				<div class="tt-col-title">
					<div class="title-item js_one-height-01"></div>
					<div class="title-item js_one-height-02">
						Descriptions
					</div>
					<div class="title-item js_one-height-03">
						Vendor
					</div>
					<div class="title-item js_one-height-04">
						Color
					</div>
					<div class="title-item js_one-height-05">
						Size
					</div>
					<div class="title-item js_one-height-06">
						Material
					</div>
					<div class="title-item js_one-height-07"></div>
				</div>
				<div class="tt-col-item">
					<div class="compare-init-slider">
						<!-- 1 -->
						<div class="tt-item">
							<div class="tt-image-box js_one-height-01">
								<a href="#" class="tt-remove-item js-remove-item"></a>
								<div class="tt-img">
									<a href="product.html"><img src="assets/images/product/product-45-01.jpg" alt="" class="loading" data-was-processed="true"></a>
								</div>
								<div class="tt-label-location">
									<div class="tt-label-in-stock">In Stock</div>
								</div>
								<h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
								<div class="tt-price">
									$24
								</div>
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
							<div class="tt-value js_one-height-02">
								We are proud to present our best premium Shopify theme - Wokiee. This is multi-purpose software that can be used for any type of the store. Great variety of available options will make customization process very easy.
							</div>
							<div class="tt-value js_one-height-03">
								Levi’s
							</div>
							<div class="tt-value js_one-height-04">
								Blue, Purple, White
							</div>
							<div class="tt-value js_one-height-05">
								20, 24
							</div>
							<div class="tt-value js_one-height-06">
								100% Polyester
							</div>
							<div class="tt-value  js_one-height-07">
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
						</div>
						<!-- / -->
						<!-- 2 -->
						<div class="tt-item">
							<div class="tt-image-box  js_one-height-01">
								<a href="#" class="tt-remove-item js-remove-item"></a>
								<div class="tt-img">
									<a href="product.html"><img src="assets/images/product/product-46-01.jpg" alt="" class="loading" data-was-processed="true"></a>
								</div>
								<div class="tt-label-location">
									<div class="tt-label-our-stock">In Stock</div>
								</div>
								<h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
								<div class="tt-price">
									<span class="new-price">$14</span>
									<span class="old-price">$24</span>
								</div>
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
							<div class="tt-value js_one-height-02">
								We are proud to present our best premium Shopify theme - Wokiee. This is multi-purpose software that can be used for any type of the store. Great variety of available options will make customization process very easy.
							</div>
							<div class="tt-value  js_one-height-03">
								Levi’s
							</div>
							<div class="tt-value  js_one-height-04">
								Blue, Purple, White
							</div>
							<div class="tt-value  js_one-height-05">
								20, 24
							</div>
							<div class="tt-value  js_one-height-06">
								100% Polyester
							</div>
							<div class="tt-value  js_one-height-07">
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
						</div>
						<!-- / -->
						<!-- 3 -->
						<div class="tt-item">
							<div class="tt-image-box js_one-height-01">
								<a href="#" class="tt-remove-item js-remove-item"></a>
								<div class="tt-img">
									<a href="product.html"><img src="assets/images/product/product-32.jpg" alt="" class="loading" data-was-processed="true"></a>
								</div>
								<div class="tt-label-location">
									<div class="tt-label-our-stock">In Stock</div>
								</div>
								<h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
								<div class="tt-price">
									<span class="new-price">$14</span>
									<span class="old-price">$24</span>
								</div>
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
							<div class="tt-value js_one-height-02">
								We are proud to present our best premium Shopify theme - Wokiee. This is multi-purpose software that can be used for any type of the store. Great variety of available options will make customization process very easy.
							</div>
							<div class="tt-value js_one-height-03">
								Levi’s
							</div>
							<div class="tt-value js_one-height-04">
								Blue, Purple, White
							</div>
							<div class="tt-value js_one-height-05">
								20, 24
							</div>
							<div class="tt-value js_one-height-06">
								100% Polyester
							</div>
							<div class="tt-value js_one-height-07">
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
						</div>
						<!-- / -->
						<!-- 4 -->
						<div class="tt-item">
							<div class="tt-image-box js_one-height-01">
								<a href="#" class="tt-remove-item js-remove-item"></a>
								<div class="tt-img">
									<a href="product.html"><img src="assets/images/product/product-05.jpg" alt="" class="loading" data-was-processed="true"></a>
								</div>
								<div class="tt-label-location">
									<div class="tt-label-our-stock">In Stock</div>
								</div>
								<h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
								<div class="tt-price">
									<span class="new-price">$14</span>
									<span class="old-price">$24</span>
								</div>
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
							<div class="tt-value js_one-height-02">
								We are proud to present our best premium Shopify theme - Wokiee. This is multi-purpose software that can be used for any type of the store. Great variety of available options will make customization process very easy.
							</div>
							<div class="tt-value js_one-height-03">
								Levi’s
							</div>
							<div class="tt-value js_one-height-04">
								Blue, Purple, White
							</div>
							<div class="tt-value js_one-height-05">
								20, 24
							</div>
							<div class="tt-value js_one-height-06">
								100% Polyester
							</div>
							<div class="tt-value js_one-height-07">
								<a href="#" class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct"><i class="icon-f-39"></i>ADD TO CART</a>
							</div>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
		</div>
	</div>
</div>
