<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>My Account</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-shopping-layout">
				<div class="tt-wrapper">
				<a href="#" class="btn">EDIT PROFILE</a><br>
				</div>
				<div class="tt-wrapper">
					<div class="tt-table-responsive">
						<table class="tt-table-shop-02">
							<tbody>
								<tr>
									<td>NAME:</td>
									<td>Lorem ipsum dolor sit AMET conse ctetur </td>
								</tr>
								<tr>
									<td>E-MAIL:</td>
									<td>Ut enim ad minim veniam, quis nostrud </td>
								</tr>
								<tr>
									<td>ADDRESS:</td>
									<td>Eexercitation ullamco laboris nisi ut aliquip ex ea</td>
								</tr>
								<tr>
									<td>ADDRESS 2:</td>
									<td>Commodo consequat. Duis aute irure dol</td>
								</tr>
								<tr>
									<td>COUNTRY:</td>
									<td>Lorem ipsum dolor sit amet conse ctetur</td>
								</tr>
								<tr>
									<td>ZIP:</td>
									<td>555</td>
								</tr>
								<tr>
									<td>PHONE:</td>
									<td>888888888</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tt-wrapper">
				<a href="#" class="btn">MANAGE ADDRESS</a><br>
				</div>
						<div class="tt-wrapper">
					<div class="tt-shop-info">
						<div class="tt-item">
							<h6 class="tt-title">DEFAULT BILLING ADDRESS:</h6>
							<div class="tt-description">
								<strong><a href="#">Change here</a></strong>
								<p>
									Ut enim ad minim veniam, quis nostrud
									Eexercitation ullamco laboris nisi ut aliquip ex ea
									Commodo consequat
								</p>
							</div>
						</div>
						<div class="tt-item">
							<h6 class="tt-title">DEFAULT SHIPPING ADDRESS:</h6>
							<div class="tt-description">
								<strong><a href="#">Change here</a></strong>
								<p>
									Ut enim ad minim veniam, quis nostrud
									Eexercitation ullamco laboris nisi ut aliquip ex ea
									Commodo consequat
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
